/*
	Author: GAES 4 Smart Wash;
	version: 1.0;
	title: Smart Wash formularios;
	copyright: Smart Wash 2016 all rights reserved;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
 */


.modal-content {  width: 80%; margin:auto; }



/*.reg-form {float: left;}*/

.labels { height: 25px;  width: 92.5%;  padding: 3px; text-align: left;  margin: auto; position: relative; }

.inputname { height: 30px; width: 45%; padding: 3px; margin-left: 2.5%; border-color: #E1E0E0; float: left; }

.inputreg { width: 92.5%; margin-left: 2.5%; }

.modal-form { width: 100%; background-color: #E1E0E0; display: inline-block}



.regbutton { text-align: center; margin:auto; margin-top: 10px; height: 35px; width: 35%;color: #FFF; border-radius: 2px;}
.regbutton:hover { background-color: #094256;}
.regfotter { text-align: center; }
.regbuttonorange { text-align: center; margin:auto; margin-top: 10px; height: 35px; width: 35%;color: #FFF; border-radius: 2px;background-color: #f35814;}
.regbuttonorange:hover { background-color: #ea6327;}
	

.regblanco {color:#FFF; }
.regred { color:red; }
.bred {background-color: #f35814;}








